<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <center>
       <h1>Welcome User {{ username }}</h1>
       <br><br><br><br>
       <!--Where Flag???-->
       <img src="/static/images/challenge1_flag.jpg" alt="Flag">
       <br><br><br>
       <h2><a href='/challenge1/user/sesion/logout/{{session}}'>Logout</a></h2>
        </center>
       <script>
        var _0x8262=["\x54\x72\x79\x20\x68\x61\x72\x64\x65\x72\x20\x6D\x61\x79\x62\x65\x3F\x3F"];function flag(){alert(_0x8262[0]);}
       </script>
    </body>
</html>